{% extends 'main.html' %}
{% load static %}
{%block content %}
    <Center><h3>Store</h3></Center>
  <div class="row">
       {% for product in products %}
          <div class="col-lg-4">
              <div class="box-element product">
                   <img class="thumbnail" src="{{product.imageURL}}">
                   <h6 style="margin-top: 5px;"><strong>{{product.name}}</strong></h6>
                    <hr>
                  <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart"> Add to Cart</button>
                 <!-- <a class="btn btn-outline-success" href="#">View</a> -->
                  <h4 style="display:inline-block; float:right;">₹{{product.price|floatformat:2}}</h4>
              </div>
          </div>
       {% endfor %}
  </div>
        {% if messages %}
            <script>
              {% for message in messages %}
               alert("{{message}}")
               {% endfor %}
            </script>
        {% endif %}

{% endblock %}
